# Object files
*.o
**/*.o
libraries/*.o
*.ko
*.obj
*.elf

#assembly file
*.lib
*.rel
*.lst
*.ihx
*.sym
*.asm
*.lk
*.map
*.rst

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
libraries/*.a
**/*.a
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin
*.elf
*.lst
*.map

build/
bin/
obj/
# Debug files
*.dSYM/
*.su
